.a1{
    margin: 60px 5px 5px 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
}

.aa1 img {
    padding: 5px;
}
.a2{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    display: block;
    width: 30%;
}

.dul p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.par {
    font-size: 14px;
}

.c{
    padding: 10px;
    background-color: #fff;
    width: 100%;
    margin: 30px 0 0 0;
    box-shadow: 0 0 5px grey;
}

.c h3{
    margin: 10px
}

.cc{
    margin: 0 0 3px 0;
}

.cc p{
    margin: 5px;
    display: inline
}