.g{
    width: 100%;
    /* border: 2px solid saddlebrown; */
    align-content: center;
    position: relative;
    z-index: 1;
    /* height:500px;
    background-image: url("../img/koveropm.png"); */
}
.g img{
    width: 100%;
}

.d-kiri{
    float: left;
    margin: 0 0 0 20px;
    /* border: 2px solid chartreuse; */
    width: 71.5%;
}

.a{
    /* border: 2px solid red; */
    width: 100%;
    margin: -150px 0 0 0;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
}

.a1{
    position: relative;
    z-index: 2;
    /* border: 2px solid black; */
    width: 280px;
    display: inline-block;
    background-color: #fff
}

.aa1{
    margin: 10px;
    width: 250px;
    height: 375px;
}

.aa1 img{
    width: 100%;
    height: auto;
    /* margin-right: 10px;
    display: inline-block; */
}

.a2{
    position: relative;
    bottom: 50px;
    width: 200px;
    /* border: 2px solid blueviolet; */
    display: inline-block;

}

.a2 h1{
    margin-bottom: 10px;
}

.par{
    margin-bottom: 35px
}

.a2 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #2196F3;
  }

.b{
    /* border: 1px solid #fff; */
    background-color: #fff;
    width: 100%;
    margin: 30px 0 0 0px;
    padding: 10px;
    box-shadow: 0 0 5px grey;
}

.b h3{
    margin: 20px 0 0 20px
}

.b ul{
    margin: 20px;
}

.btn-banyak a{
    text-decoration: none;
    font-weight: bold;
    color: #2095F2;
  }
  
  .btn-banyak{
    width: 100%;
    text-align: center;
  }
  
  .btn-banyak:hover{
    
    cursor: pointer;
  }
  .btn-banyak i{
    color: #2095F2;
  }
  
.c{
    background-color: #fff;
    width: 100%;
    margin: 30px 0 0 0;
    box-shadow: 0 0 5px grey;
}

.c h3{
    margin: 20px
}

.cc{
    margin: 0 0 3px 0;
}

.cc p{
    margin: 5px;
    display: inline
}

.d-kanan{
    width: 24.5%;
    float: right;
    margin: 0 0 0 20px;
    /* border: 2px solid black  */
}

.k{
    /* border: 2px solid cyan; */
    margin: 20px 20px 0 10px;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
    height: 40%;
}

.atas{
    width: 100%;
    margin: 10px 0 10px 0;
  }
  
  .atas-kiri{
    display: inline-block;
    text-align: left;
  }
  
  .atas-kanan{
    display: inline-block;
    float: right;
  }
  
  .atas-kanan a{
    text-decoration: none;
    font-weight: 600;
    color: #595959;
  }
  
  .atas-kanan a:hover{
    color: #2095F2;
  }

  .jud{
    font-size: 20px;
    font-weight: 600;
  }

.kk{
    width: 100%;
}

.l{
    /* border: 2px solid cyan; */
    margin: 20px 20px 0 10px;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
}

.ll a{
    text-decoration: none;
}

.judul{
    color: black;
    font-size: 16px;
    font-weight: 700;
  }

  .episode{
    color: black;
    font-size: 16px;
  }

  .pengarang{
    color: black;
    font-size: 16px;
  }

.kk-kiri{
    margin: 10px;
    display: inline-block;
    text-align: left;
}

.kk-kanan{
    margin: 10px;
    display: inline-block;
    float: right;
}

.ll-kiri{
    margin: 10px;
    display: inline-block;
    text-align: left;
}

.ll-kanan{
    margin: 10px;
    display: inline-block;
    float: right;
}

.kk-isi{
    width: 100%;
    margin: 30px;
}

@media screen and (max-width: 800px) {
    
    .d-kiri{
        margin: 0;
        width: 100%;
    }

    .d-kanan{
        margin: 0;
        width: 100%;
    }

    .jud{
        font-size: 16px;
        font-weight: 700;
      }
}
