
/* main */

.konten{
  margin: 100px 40px 40px 40px;
  display: block;
  /* border: 2px solid cyan; */
}

.atas{
  width: 100%;
}

  .atas-kiri{
    display: inline-block;
    text-align: left;
  }

  .atas-kanan{
    display: inline-block;
    float: right;
  }

  .atas-kanan a{
    text-decoration: none;
    font-weight: 600;
    color: #595959;
  }

  .atas-kanan a:hover{
    color: #2095F2;
  }

  .jud{
    font-size: 22px;
    font-weight: 700;
  }

.main-kiri{
  width: 71.5%;
  /* border: 2px solid black; */
  float: left;
  margin: 0;
  padding: 0px;
}

.isi{
  box-sizing: border-box;
  padding: 20px;
  /* width: 100%; */
  background-color:#fff;
  /* border: 2px solid blue; */
  margin-bottom: 40px;
  box-shadow: 0 0 5px grey;
}

.tengah{
  width: 100%;
}

.cover1{
  margin: 10px;
  float: left;
}

.cover1 a{
  text-decoration: none;
}

/* JUDUL , PENGARANG , EPISODE */

    .judul{
      color: black;
      font-size: 16px;
      font-weight: 700;
    }

    .episode{
      color: black;
      font-size: 16px;
    }

    .pengarang{
      color: black;
      font-size: 16px;
    }


.column {
  float: left;
  padding: 0 10px;
  width: 25%;
  height: 100%;
}
.row {
  padding: auto 0;
  height: 100%;
  margin: 0;
}

.row a{
  text-decoration: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
}



/* sidebar  */

.sidebar{
  width: 24.5%;
  float: right;
}

.kanan1{
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  /* border: 2px solid black; */
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 0 0 5px grey;
}

.is ul li{
  list-style-type: none;
}

.is ul li a {
  margin: 5px;
  color: #595959;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
}

.is{
  margin-bottom: 10px;
}


.is li a:hover{
  color: #2095F2;
}

.btn-banyak a{
  text-decoration: none;
  font-weight: bold;
  color: #2095F2;
}

.btn-banyak{
  width: 100%;
  text-align: center;
}

.btn-banyak:hover{
  cursor: pointer;
}

.btn-banyak i{
  color: #2095F2;
}

.kanan2{
  width: 100%;
}

.kanan2-isi{
  position: relative;
  margin: 10px;
  width: 100%;
  float: left;
}

.num{
  position: relative;
  top: 0;
  display: inline-block;
}

.kanan2-isi a{
  text-decoration: none;
}

.kanan2-isi img{
  display: inline-block;
}

.lol{
  margin: 0 0 10px 10px;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .konten{
    margin: 100px 10px 10px 10px
  }
  .main-kiri{
    width: 100%;
  }
  .sidebar{
    width: 100%;
    float: right;
  }
  .jud{
    font-size: 16px;
    font-weight: 700;
  }
}
