
.konten{
  margin: 100px 40px 40px 40px;
  display: block;
  /* border: 2px solid cyan; */
}

.atas{
  width: 100%;
}

.atas-kiri{
  display: inline-block;
  text-align: left;
}

.atas-kanan{
  display: inline-block;
  float: right;
}

.main-kiri{
  width: 71.5%;
  /* border: 2px solid black; */
  float: left;
  margin: 0;
  padding: 0px;
}

.isi{
  box-sizing: border-box;
  padding: 20px;
  /* width: 100%; */
  background-color:#fff;
  /* border: 2px solid blue; */
  margin-bottom: 40px;
  box-shadow: 0 0 5px grey;
}

.jud{
  font-size: 22px;
  font-weight: 700;
}

.cover1{
  margin: 10px;
  float: left;
}

.cover1 a{
  text-decoration: none;
}

.judul{
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.episode{
  color: black;
  font-size: 16px;
}

.column {
  float: left;
  padding: 0 10px;
  width: 25%;
  height: 100%;
}
.row {
  padding: auto 0;
  height: 100%;
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
}



/* sidebar  */

.sidebar{
  width: 24.5%;
  float: right;
}

.kanan1{
  width: 100%;
  box-sizing: border-box; 
  background-color: #fff;
  /* border: 2px solid black; */
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 0 0 5px grey;
}

.is ul li{
  list-style-type: none;
}

.is ul li a {
  margin: 5px;
  color: #595959;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
}

.is{
  margin-bottom: 10px;
}


.is li a:hover{
  color: #2095F2;
}

.btn-banyak a{
  text-decoration: none;
  color: white;
}

.btn-banyak{
  width: 100%;
  background-color: #2095F2;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .konten{
    margin: 100px 10px 10px 10px
  }
  .main-kiri{
    width: 100%;
  }
  .sidebar{
    width: 100%;
    float: right;
  }
  .jud{
    font-size: 16px;
    font-weight: 700;
  }
}