.konten{
  background-color:#fff;
  margin: 100px 20px 40px 20px;
  box-shadow: 0 0 5px grey;
}

.konten h3{
  box-sizing: border-box;
  padding: 10px;
}

.atas{
  height: 35px;
  background-color: #a7a7a7;
  width: 100%;
  text-align: right;
}

.atas p{
  display: inline;
  margin: 10px 10px;
}

.atas select{
  margin: 10px;
}

.isi{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.cover1{
  margin: 10px 20px 10px 20px;
  float: left;
}

.cover1 a{
  text-decoration: none;
}

.judul{
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.episode{
  color: black;
  font-size: 16px;
}

.btn-banyak{
  width: 100%;
  text-align: center;
}

  .btn-banyak a{
    text-decoration: none;
    font-weight: bold;
    color: #2095F2;
  }

  .btn-banyak:hover{
    cursor: pointer;
  }

  .btn-banyak i{
    color: #2095F2;
  }