.konten h3{
  box-sizing: border-box;
  padding: 15px;
}

.atas{
  height: 53px;
  background-color: #eeeeee;
  width: 100%;
  text-align: right;
}

  .atas p{
  display: inline;
  margin: 10px 10px;
  }

  .atas select{
    margin: 20px;
  }

.isi{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.judul{
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.episode{
  color: black;
  font-size: 16px;
}

.column {
  float: left;
  width: 25%;
  height: 100%;
}
.row {
  padding: auto 0;
  height: 100%;
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
}

.btn-banyak{
  padding: 10px;
  width: 100%;
  text-align: center;
}

  .btn-banyak a{
    text-decoration: none;
    font-weight: bold;
    color: #2095F2;
  }

  .btn-banyak i{
    color: #2095F2;
  }

  .btn-banyak:hover{
    background-color: #e2e2e2;
    cursor: pointer;
  }
