.konten{
  box-sizing: border-box;
  padding: 20px;
  background-color:#fff;
  margin: 100px 20px 40px 20px;
  box-shadow: 0 0 5px grey;
}

.atas{
  height: 35px;
  background-color: #a7a7a7;
  width: 100%;
  text-align: right;
}

.atas p{
  display: inline;
  margin: 10px 10px;
}

.atas select{
  margin: 10px;
}


.cover1{
  width: 25%;
  margin: 10px 10px 10px 0;
  display: inline-block;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 300px;
}
.row {
  padding: auto 0;
  height: 100%;
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card a img{
  width: 100%;
}
