body{
    margin: 0;
}

#navbar{
  transition: opacity 0.4s;
}

.nav{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.isi{
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin:0;
    padding: 5px 40px 5px 5px;
    display: flex;
}

.logo{
    float:left;
    padding: 0 10px;
}

.logo img{
    width: 70px;
}

.seb{
    display: inline;
}

.seb a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.seb select{
    margin-top: 5px;
    display: block;
    width: 200px;
    background-color: none;
    border: none;
    height: 25px;
}

.kontenn{
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
}

.kontenn > img{
    width: 65%;
    position: relative;
    margin: 0;
    padding: 0;
}

/* hover */
.seb a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .konten{
        width: 100%;
    }
}
