/* all  */
body{
    margin: 0;
    padding: 0;
}
.kanan{
     float:right;
 }
.kiri{
  float: left;
}
.active {
  color: #2196F3;
}

/* navbar  */
nav{
    margin: 0px;
    top: 0;
    position: fixed;
    width: 100%;
    transition: 2s;
}
nav ul li {
    float: left;
}
nav ul {
  z-index: 2;
    list-style-type: none;
    margin:0;
    overflow: hidden;
    padding:0 40px;
    background-color: #fff;
    box-shadow: 0 4px 7px rgba(0,0,0,0.5);
  }
nav li button, nav li input{
      margin:25px 10px;
  }
nav li a {
    display: block;
    color: #595959;
    text-align: center;
    padding: 27px 10px;
    text-decoration: none;
    font-weight: bold;
  }
nav li a:hover:not(.active) {
    color: #000;
  }


nav ul li a img.logo{
      float:left;
      width: 55px;
      margin-top: -12.5px;
    }



.icon{
  display: none;
}
@media screen and (max-width: 760px) {
      .topnav li .respon{display: none;}
      .topnav a.icon {
        float: left;
        display: block;
      }
    }

/* interaksi bar  */
      div.clear {
          clear: both;
        }
        div.bar {
          text-align: center;
          transition: height 3s ease-out;
        }
        div.bar a{
          padding:4px 0;
          display: block;
          color: #595959;
          text-decoration: none;
          font-weight: bold;
        }

/* content  */

.main-kiri{
  width: 70.5%;
  border: 2px solid black;
  float: left;
}

.sidebar{
  width: 24.5%;
  border: 2px solid blue;
  float: right;
}

/* sidebar  */

/* header  */
